* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6, span {
  cursor: default;
}

@font-face {
  font-family: "Inter Regular";
  src: local("Inter Regular"), url(../fonts/Inter/Regular/InterRegular.ttf) format("ttf"), url(../fonts/Inter/Regular/InterRegular.woff) format("woff"), url(../fonts/Inter/Regular/Inter-Regular.woff2) format("woff2"), url(../fonts/Inter/Regular/InterRegular.eot) format("eot");
}
@font-face {
  font-family: "Inter Bold";
  src: local("Inter Bold"), url(../fonts/Inter/Bold/Inter-Bold.woff2) format("woff2"), url(../fonts/Inter/Bold/InterBold.woff) format("woff"), url(../fonts/Inter/Bold/InterBold.ttf) format("ttf"), url(../fonts/Inter/Bold/InterBold.eot) format("eot");
}
@font-face {
  font-family: "Merriweather Bold";
  src: local("Merriweather Bold"), url(../fonts/Merriweather/Merriweather-Bold.woff2) format("woff2"), url(../fonts/Merriweather/Merriweather-Bold.woff) format("woff"), url(../fonts/Merriweather/Merriweather-Bold.ttf) format("ttf"), url(../fonts/Merriweath/Merriweather-Bold.eot) format("eot");
}
body {
  font-family: "Inter Regular", sans-serif;
  font-size: 20px;
  color: #fff;
}

.header, .skills-wrapper, .portfolio-wrapper, .video-wrapper, .price-wrapper, .header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 20px 0;
  max-width: 100%;
  background: transparent;
  height: 50px;
}
.header-inner, .header-navigation .navigation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header-inner .header-logo .header-logo__svg, .header-navigation .navigation .header-logo .header-logo__svg {
  fill: #fff;
}
.header-inner .header-logo .header-logo__svg:hover, .header-navigation .navigation .header-logo .header-logo__svg:hover {
  fill: #BDAE82;
}
.header-navigation {
  width: 39%;
  margin: 0;
}
.header-navigation .navigation {
  gap: 20px;
}
.header-navigation .navigation-items {
  width: 16.6666666667%;
  text-align: center;
}
.header-navigation .navigation-link, .header-navigation .switch-lng__text {
  color: #fff;
  text-decoration: none;
}
.header-navigation .navigation-link:hover:hover:not(.portfolio-btn__active, .video-play), .header-navigation .switch-lng__text:hover:hover:not(.portfolio-btn__active, .video-play) {
  color: #BDAE82;
  background: transparent;
}

.switch-lng__text:hover:hover:not(.portfolio-btn__active, .video-play) {
  color: #fff !important;
  background: transparent;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  height: 55px;
  background: #BDAE82;
  font-size: 20px;
  color: #000;
}
button:hover:not(.portfolio-btn__active, .video-play) {
  color: #fff;
  background: #BDAE82;
}

.skills-wrapper, .portfolio-wrapper, .video-wrapper, .price-wrapper {
  margin: 100px 0 0 0;
  height: auto;
  padding: 0 0 10px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills-wrapper .wrapper__title, .portfolio-wrapper .wrapper__title, .video-wrapper .wrapper__title, .price-wrapper .wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  position: relative;
  margin: 0 0 100px 0;
}
.skills-wrapper .wrapper__title .title-line, .portfolio-wrapper .wrapper__title .title-line, .video-wrapper .wrapper__title .title-line, .price-wrapper .wrapper__title .title-line {
  width: 100%;
  height: 2px;
  background-color: #BDAE82;
}
.skills-wrapper .wrapper__title .title-text, .portfolio-wrapper .wrapper__title .title-text, .video-wrapper .wrapper__title .title-text, .price-wrapper .wrapper__title .title-text {
  padding: 0 20px;
  font-family: "Merriweather Bold", sans-serif;
  font-size: 40px;
  color: #BDAE82;
  background: #000;
  position: absolute;
  z-index: 2;
}

.landing-body {
  width: 100%;
  margin: -70px 0 0 0;
  height: auto;
}

.wrapper, .footer {
  width: 100%;
  background: #000;
}

.hero-wrapper {
  width: 100%;
  background: url(../img/sectionIMg/heroBG.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0 0 80px;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 28%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.hero-title {
  font-family: "Merriweather Bold", sans-serif;
  font-size: 60px;
  line-height: 120px;
  margin: 0 0 10px 0;
}

.hero-text {
  line-height: 40px;
  margin: 0 0 25px 0;
}

.skills-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 40px;
}
.skills-content .skills-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  line-height: 40px;
  width: 280px;
}
.skills-content .skills-items img {
  margin-bottom: 50px;
}
.skills-content .skills-items .items-title {
  font-family: "Inter Bold", sans-serif;
}
.skills-content .skills-items .items-text {
  font-size: 18px;
  margin-top: 20px;
}

.portfolio-inner, .contact-wrapper, .price-inner, .video-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}

.portfolio-content {
  width: 62%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
  margin: 0 0 60px 0;
}

.portfolio-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.portfolio-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.portfolio-content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.portfolio-content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.portfolio-content .portfolio-btn {
  width: 100%;
  background: transparent;
  border: 1px solid #BDAE82;
  color: #BDAE82;
}
.portfolio-content .portfolio-btn:hover:not(.portfolio-btn__active, .video-play) {
  color: #fff;
  background: transparent;
}
.portfolio-content .portfolio-btn__active {
  background: #BDAE82;
  color: #000;
}
.portfolio-content .portfolio-btn:active {
  background: #BDAE82;
  color: #000;
}

.portfolio-images, .price-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 25px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.portfolio-images > *:nth-child(1), .price-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.portfolio-images > *:nth-child(2), .price-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.portfolio-images > *:nth-child(3), .price-content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.portfolio-images > *:nth-child(4), .price-content > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.portfolio-images > *:nth-child(5), .price-content > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.portfolio-images > *:nth-child(6), .price-content > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.portfolio-items img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-inner {
  position: relative;
}

.video-main {
  display: none;
}

.video-substrate {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-play {
  position: absolute;
  background: transparent;
}
.video-play svg:hover {
  fill: #BDAE82;
}

.price-content {
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
}

.price-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 3px solid #BDAE82;
  padding: 45px 0;
}
.price-items__title, .price-items__price {
  font-family: "Merriweather Bold", sans-serif;
  font-size: 28px;
  line-height: 56px;
  padding: 0 0 20px 0;
}
.price-items__price {
  color: #BDAE82;
  font-size: 24px;
  line-height: 48px;
}
.price-items__list {
  font-size: 18px;
  line-height: 36px;
  padding: 0 0 40px 0;
}

.contact-wrapper {
  margin: 100px 0 0 0;
  background: url(../img/sectionIMg/contacts.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.contact-inner {
  width: 30%;
}

.contactMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactMe .form-title {
  font-family: "Merriweather Bold", sans-serif;
  font-size: 40px;
  color: #BDAE82;
  line-height: 80px;
  margin: 0 0 40px 0;
}
.contactMe input, .contactMe textarea {
  margin: 0 0 20px 0;
  background: transparent;
  border: 2px solid #BDAE82;
  width: 100%;
  padding: 0 0 0 20px;
  color: #BDAE82;
  line-height: 40px;
}
.contactMe input {
  height: 50px;
}
.contactMe textarea {
  margin: 0 0 30px 0;
}
.contactMe *::-webkit-input-placeholder {
  color: #BDAE82;
}
.contactMe *::-moz-placeholder {
  color: #BDAE82;
}
.contactMe *:-ms-input-placeholder {
  color: #BDAE82;
}
.contactMe *::-ms-input-placeholder {
  color: #BDAE82;
}
.contactMe *::placeholder {
  color: #BDAE82;
}

.footer {
  height: 150px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.footer-social .social-links {
  font-size: 25px;
  color: #fff;
}
.footer-social .social-links:hover:not(.portfolio-btn__active, .video-play) {
  color: #BDAE82;
  background: transparent;
}