@media only screen and (max-width: 1400px) {
  .header-navigation {
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) {
  .hero-content {
    width: 50%;
  }
  .skills-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 280px 80px 280px;
    grid-template-columns: repeat(2, 280px);
    -ms-grid-rows: 1fr 80px 1fr;
    grid-template-rows: repeat(2, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px;
    padding: 0;
  }
  .skills-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .skills-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .skills-content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .skills-content > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .skills-content .skills-items {
    border-bottom: 2px solid #BDAE82;
    padding: 0 0 10px 0;
  }
  .contactMe input, .contactMe textarea {
    background: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 992px) {
  .header-navigation {
    width: 70%;
  }
  .hero-wrapper {
    background: url(../img/sectionIMg/smallHeroBg.png) 0% 0%/100% 100% no-repeat;
    height: 590px;
  }
  .hero-content {
    width: 53%;
  }
  .hero-title {
    font-size: 32px;
    line-height: 64px;
    margin: 0 0 20px 0;
  }
  .hero-text {
    line-height: 24px;
    margin: 0 0 60px 0;
  }
  .contact-wrapper {
    background: url(../img/sectionIMg/smallContactBg.png) -300px 0%/cover no-repeat;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-inner {
    width: 60%;
  }
  .contactMe {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactMe input, .contactMe textarea {
    background: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 768px) {
  .header-inner {
    position: relative;
  }
  .header-navigation {
    width: 90%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0 65px 0 0;
  }
  .header-navigation .navigation {
    padding: 135px 0 0 10%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    right: -100%;
  }
  .header-navigation .navigation .navigation-items {
    font-size: 35px;
    line-height: 75px;
    margin: 0 0 15px 0;
  }
  .header-navigation .navigation .navigation-items:last-child {
    margin: 0;
  }
  .header-navigation .navigation__active {
    right: 0;
  }
  .navigation-burger {
    position: relative;
  }
  .burger__icon {
    z-index: 5;
    display: block;
    position: relative;
    right: 0;
    width: 50px;
    height: 28px;
    cursor: pointer;
  }
  .burger__icon::before, .burger__icon::after, .burger__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .burger__icon::before, .burger__icon::after {
    content: "";
  }
  .burger__icon::before {
    top: 0;
  }
  .burger__icon::after {
    bottom: 0;
  }
  .burger__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .burger__icon-active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .burger__icon-active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger__icon-active::after {
    top: 50%;
    -webkit-transform: rotate(-135deg) translate(0px, -50%);
            transform: rotate(-135deg) translate(0px, -50%);
  }
  .hero-wrapper {
    background: url(../img/sectionIMg/smallHeroBg.png) 0 0%/100% 100% no-repeat;
  }
  .skills-wrapper .wrapper__title, .portfolio-wrapper .wrapper__title, .video-wrapper .wrapper__title, .price-wrapper .wrapper__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    position: relative;
    margin: 0 0 100px 0;
  }
  .skills-wrapper .wrapper__title .title-line, .portfolio-wrapper .wrapper__title .title-line, .video-wrapper .wrapper__title .title-line, .price-wrapper .wrapper__title .title-line {
    width: 100%;
    height: 2px;
    background-color: #BDAE82;
  }
  .skills-wrapper .wrapper__title .title-text, .portfolio-wrapper .wrapper__title .title-text, .video-wrapper .wrapper__title .title-text, .price-wrapper .wrapper__title .title-text {
    padding: 0 20px;
    font-family: "Merriweather Bold", sans-serif;
    font-size: 32px;
    color: #BDAE82;
    background: #000;
    position: absolute;
    z-index: 2;
  }
  .skills-content, .portfolio-content, .price-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .portfolio-content {
    width: 70%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .video-play svg {
    width: 65px;
    height: 65px;
  }
  .price-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
  }
  .price-items {
    width: 100%;
  }
  .contactMe .form-title {
    font-size: 32px;
    line-height: 64px;
    margin: 0 0 80px 0;
  }
}
@media only screen and (max-width: 600px) {
  .header-navigation {
    padding: 0;
    width: 50%;
  }
  .header-navigation .navigation {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-content {
    width: 70%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media only screen and (max-width: 370px) {
  .price-items__btn {
    width: 90%;
  }
  .contact-inner {
    width: 100%;
  }
}