// FOOTER
.footer{
  height: 150px;
  @extend .wrapper;
  padding: 0 20px;
  @include flexCenter();
  &-inner{
    @include flexbox();
    justify-content: space-between;
    width: 100%;
  }
  &-social{
    @include flexbox();
    justify-content: space-between;
    gap: 30px;
    .social-links{
    font-size: 25px;
    color: #fff;
    @include hover($gold, transparent);
    }
  }
}

