// Обнуление
@import 'normolize.scss';
// Шрифты
@import 'fonts.scss';
// Миксины
@import 'mixins.scss';
// Переменные
@import 'variable.scss';


// Стилизация лэндинга
  body{
    font-family: $mainFont;
    font-size: $mainFz;
    color: #fff;
  }
  body.__lock{
    overflow: hidden;
  }


// Header
  @import 'header.scss';

// Main
  @import 'main.scss';

// Footer
  @import 'footer.scss';


