.landing-body{
  width: 100%;
  margin: -70px 0 0 0;
}
.wrapper{
  width: 100%;
  background: #000;
}
// All buttons
  button{
    @include flexCenter();
    width: 220px;
    height: 55px;
    background: $gold;
    font-size: $mainFz;
    color: #000;
    @include hover(#fff, $gold);
  }
  // Skills, Portfolio, Video and Price wrappers
  .skills-wrapper, .portfolio-wrapper, .video-wrapper, .price-wrapper{
    @extend .header;
    margin: 100px 0 0 0;
    height: auto;
    padding: 0 0 10px 0;
    flex-direction: column;
    @include title($titleFz);
  }
// Hero
.hero-wrapper{
  width: 100%;
  background: url(../img/sectionIMg/heroBG.png) 0% 0% / cover no-repeat;
  height: 100vh;
  @include flexbox();
  align-items: center;
  padding: 0 0 0 80px;
}
.hero-content{
  @include flexbox();
  width: 28%;
  flex-direction: column;
  align-items: start;
}
.hero-title{
  font-family: $sectionFont;
  font-size: 60px;
  line-height: 120px;
  margin: 0 0 10px 0;
}
.hero-text{
  line-height: 40px;
  margin: 0 0 25px 0;
}

// Skills
.skills-content{
  width: 100%;
  @include flexbox();
  justify-content: space-between;
  padding: 0 40px;
  .skills-items{
    @include flexCenter();
    flex-direction: column;
    text-align: center;
    line-height: 40px;
    width: 280px;
    & img{
      margin-bottom: 50px;
    }
    .items-title{
      font-family: $mainFontBold;
    }
    .items-text{
      font-size: 18px;
      margin-top: 20px;
    }
  }
}
// Portfolio
.portfolio-inner{
  width: 100%;
  @include flexCenter();
  flex-direction: column;
  padding: 0 20px;
}
.portfolio-content{
  width: 60%;
  @include flexbox();
  gap: 5px;
  margin: 0 0 60px 0;
  .portfolio-btn{
    background: transparent;
    border: 1px solid $gold;
    color: $gold;
    @include hover(#fff, transparent);
    &__active{
      background: $gold;
      color: #000;
    }
    &:active{
      background: $gold;
      color: #000;
    }
  }
}
.portfolio-images{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.portfolio-items{
  img{
    width: 100%;
    object-fit: cover;
  }
}
// Video
.video-inner{
  @extend .portfolio-inner;
  position: relative;
}
.video-main{
  display: none;
}
.video-substrate{
  width: 100%;
  object-fit: cover;
}
.video-play{
  position: absolute;
  background: transparent;
  svg{
    width: 130px;
    height: 130px;
    &:hover{
      fill: $gold;
    }
  }
}
// Price
.price-inner{
  @extend .portfolio-inner;
}
.price-content{
  @extend .portfolio-images;
}
.price-items{
  @include flexCenter;
  flex-direction: column;
  text-align: center;
  border: 3px solid $gold;
  padding: 45px 0;
  &__title{
    font-family: $sectionFont;
    font-size: 28px;
    line-height: 56px;
    padding: 0 0 20px 0;
  }
  &__price{
    @extend .price-items__title;
    color: $gold;
    font-size: 24px;
    line-height: 48px;
  }
  &__list{
    font-size: 18px;
    line-height: 36px;
    padding: 0 0 40px 0;
  }
}
// Contact
.contact-wrapper{
  @extend .portfolio-inner;
  margin: 100px 0 0 0;
  background: url(../img/sectionIMg/contacts.jpg) 0% 0%/cover no-repeat;
  height: 100vh;
  align-items: end;
}
.contact-inner{
  width: 30%;
}
.contactMe{
  @include flexbox();
  flex-direction: column;
  .form-title{
    font-family: $sectionFont;
    font-size: $titleFz;
    color: $gold;
    line-height: 80px;
    margin: 0 0 40px 0;
  }
  input, textarea{
    margin: 0 0 20px 0;
    background: transparent;
    border: 2px solid $gold;
    width: 100%;
    padding: 0 0 0 20px;
    color: $gold;
    line-height: 40px;
  }
  input{
    height: 50px;
  }
  textarea{
    margin: 0 0 30px 0;
  }
  *::placeholder{
    color: $gold;
  }
}