// Миксины
@import 'mixins.scss';
// Переменные
@import 'variable.scss';

// 1440px
@media only screen and (max-width: 1400px) {
  // Header
  .header-navigation{
    width: 60%;
  }
}
// 1200px
@media only screen and (max-width: 1200px){
  // Hero
  .hero-wrapper{
    background: url(../img/sectionIMg/smallHeroBg.png) 0% 0%/ 100% 100% no-repeat;
  }
  .hero-content{
    width: 50%;
  }
  // Skills
  .skills-content{
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 0;
    .skills-items{
      border-bottom: 2px solid $gold;
      padding: 0 0 10px 0;
    }
  }
  // Contact
  .contactMe{
    input, textarea{
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
// 992px
@media only screen and (max-width: 992px){
  // Header
  .header-navigation{
    width: 70%;
  }
  // Hero
  .hero-wrapper{
    height: 590px;
  }
  .hero-content{
    width: 53%;
  }
  .hero-title{
    font-size: 32px;
    line-height: 64px;
    margin: 0 0 20px 0;
  }
  .hero-text{
    line-height: 24px;
    margin: 0 0 60px 0;
  }
  
  // Contact
  .contact-wrapper{
    background: url(../img/sectionIMg/smallContactBg.png) no-repeat;
    background-size: fill;
    background-position: -300px 0;
    align-items: center;
    justify-content: start;
    height: auto;
    padding: 60px 0 90px 0;
  }
  .contact-inner{
    width: 60%;
  }
  .contactMe{
    align-items: center;
    input, textarea{
      background: rgba(0, 0, 0, 0.5);
    }
  }
}
// 768px
@media only screen and (max-width: 768px){
  // Header
  .header-inner{
    position: relative;
  }
  .header-navigation{
    width: 90%;
    justify-content: flex-end;
    padding: 0 65px 0 0;
    .navigation{
      padding: 135px 0 0 10%;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      width: 70%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.9);
      color: #fff;
      transition: right 0.3s ease 0s;
      right: -100%;
      .navigation-items{
        font-size: 35px;
        line-height: 75px;
        margin: 0 0 15px 0;
        &:last-child{
          margin: 0;
        }
      }
      &__active{
        right: 0;
      }
    }
  }
  .navigation-burger{
    position: relative;
  }
  .burger__icon{
      z-index: 5;
      display: block;
      position: relative;
      right: 0;
      width: 50px;
      height: 28px;
      cursor: pointer;
      &::before, &::after, & span{
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
      }
      &::before, &::after{
        content: "";

      }
      &::before{
        top: 0;
      }
      &::after{
        bottom: 0;
      }
      & span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }
      &-active span{
        transform: scale(0) translate(0px, -50%);
      }
      &-active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
      &-active::after{
        top: 50%;
        transform: rotate(-135deg) translate(0px, -50%);
      }
    }
  // Hero
  .hero-wrapper{
    background: url(../img/sectionIMg/smallHeroBg.png) 0 0%/100% 100% no-repeat;
  }
  // Skills, Portfolio, Video and Price wrappers
  .skills-wrapper, .portfolio-wrapper, .video-wrapper, .price-wrapper{
     @include title($titleFzmedia);
  }
  // Skills, portfolio, price contents
  .skills-content, .portfolio-content, .price-content{
    @include mediaWrap();
  }
  // Skills
  .skills-content{
    @include flexbox();
  }
  // Portfolio
  .portfolio-content{
    width: 70%;
    @include mediaWrap();
  }
  // Video
  .video-play{
  .icon-Play_button{
    font-size: 65px;
  }
}
  // Price
  .price-content{
    @include flexbox();
    width: 70%;
  }
  .price-items{
    width: 100%;
  }
  // Contact
   .contactMe{
    .form-title{
      font-size: $titleFzmedia;
      line-height: 64px;
    }
   }
}
// 600px
@media only screen and (max-width: 600px){
  // Header
  .header-navigation{
    padding: 0;
    width: 50%;
    .navigation{
      width: 100%;
      justify-content: space-between;
    }
  }
  // Hero
  .hero-wrapper{
    padding: 0;
    @include flexCenter();
  }
  .hero-content{
    width: 70%;
    text-align: center;
    align-items: center;
  }
  // Portfolio
  .portfolio-images{
    @include flexbox();
    @include mediaWrap;
  }
  // Footer
  .footer-inner{
    @include flexCenter();
    flex-direction: column;
    gap: 10px;
  }
}
// 370px
@media only screen and (max-width: 370px){
  // Price
  .price-items{
    &__btn{
      width: 90%;
    }
  }
  // Contact
  .contact-inner{
    width: 100%;
  }
}
